body {
  background: rgba(248, 249, 250);
}

.header {
  padding: 15px 50px 0;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider img {
  width: 100vw;
}
.logo {
}
.logo-title {
  color: #168cd8;
  font-size: 24px;
}

.hakkimizda, .teknik, .yararlari {
  padding: 100px 0;
}


/* Bootstrap */

.navbar-toggler {
  border: none;
}
