body {
  background: rgba(248, 249, 250);
}
a,
p,
h1,
h2,
h3,
h4,
h5 {
  color: #002d49;
}
a {
  text-decoration: none;
  color: #003a62;
}
p {
  color: #003a62;
  margin-bottom: 0;
}
.paragragph {
}

.h3-heading {
  font-size: 40px;
  color: #003a62;
}
.h3-heading--iletisim {
  color: white;
  background: #168cd8;
  padding: 30px 75px;
}
.border10 {
  border: 10px solid #168cd8;
}

.header {
  padding: 15px 50px 0;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider img {
  width: 100vw;
}
.logo {
}
.logo-title {
  color: #168cd8;
  font-size: 24px;
}

.hakkimizda,
.teknik,
.faydalari {
  padding: 150px 0;
}

.teknik-sayı {
  font-size: 32px;
  color: #002943;
  font-weight: bolder;
  margin-bottom: 15px;
}
.footer {
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-logo {
  width: 16px;
}
.footer-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: #168cd8;
}

.callout-primary {
  border-left: 3px solid #168cd8;
  padding-left: 15px;
}

.fayda {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 50px;
  row-gap: 150px;
}

.iletisim-detay {
  gap: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Bootstrap */

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}
